<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

  <servlet>
    <servlet-name>SaveNoteServlet</servlet-name>
    <servlet-class>com.servlet.SaveNoteServlet</servlet-class>
  </servlet>
  
  <servlet>
  	<servlet-name>DeleteServlet</servlet-name>
  	<servlet-class>com.servlet.DeleteServlet</servlet-class>
  </servlet>
  
  <servlet>
  	<servlet-name>UpdateNoteServlet</servlet-name>
  	<servlet-class>com.servlet.UpdateNoteServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>SaveNoteServlet</servlet-name>
    <url-pattern>/SaveNoteServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteServlet</servlet-name>
  	<url-pattern>/DeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateNoteServlet</servlet-name>
  	<url-pattern>/UpdateNoteServlet</url-pattern>
  </servlet-mapping>
</web-app>    